body {
  background: #eeeeee;
}

footer p {
  margin-top: 50px;
  text-align: center;
}

.email-table {
  margin-top: 20px;
  background: white;
}

.waiting-screen {
  padding: 40px 15px;
  text-align: center;
}

div.min-height {
  min-height: 400px;
}

.navbar {
  background-color: #D9E2E9;
}

.octicon-inbox {
  display: inline-block;
  width: 26px;
  height: 23px;
  background: url('octicon-inbox.png') no-repeat;
}
