<div class="navbar" role="navigation">
    <div class="container">

        <div class="hidden-xs">
            <div class="navbar-header">
                <a class="navbar-brand"><span class="octicon-inbox"></span> Mailbox</a>
            </div>

            <form class="navbar-form navbar-left">
                <a class="btn btn-default" ng-click="$ctrl.gotoRandomAddress()" role="button">
                    <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                    create random
                </a>
            </form>


            <form class="navbar-form navbar-left" role="search" ng-submit="$ctrl.gotoMailbox($ctrl.address)">
                <input ng-model="$ctrl.address" type='text' class="form-control"/>
                <button type="submit" class="btn btn-default">open</button>
            </form>
        </div>


        <form ng-submit="$ctrl.gotoMailbox($ctrl.address)">
            <div class="form-inline visible-xs-block">
                <div class="form-group col-xs-4">
                    <span class="octicon-inbox"></span></a>
                    <a class="btn btn-default" ng-click="$ctrl.gotoRandomAddress()" role="button">
                        <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="form-group col-xs-6">
                    <input ng-model="$ctrl.address" type='text' class="form-control"/>
                </div>
                <div class="form-group col-xs-2">
                    <button type="submit" class="btn btn-default">open</button>
                </div>
            </div>
        </form>
    </div>
</div>


<main>
    <div class="container min-height" ng-switch="$ctrl.state">

        <p ng-switch-when="home">
            Use the buttons above to create a new inbox, or open a specific mailbox.
        </p>


        <div ng-switch-when="list" ng-repeat="mail in $ctrl.mails | orderBy:'-date' track by $index"
             class="email-table">
            <mail mail="mail"></mail>
        </div>

        <div ng-switch-when="loading" class="waiting-screen">
            <h1>&nbsp;</h1>
            <p class="lead">Loading Mails</p>
            <p><br/>
                <img src="spinner.gif">
                <br/>
            </p>
        </div>

        <div ng-switch-when="empty">
            <div class="waiting-screen">
                <h1>{{$ctrl.address}}</h1>
                <p class="lead">Inbox is empty.</p>
                <p><br/>
                    <img src="spinner.gif">
                    <br/></p>
                <p class="lead">Emails to {{address}} will be automatically displayed on this page. </p>
            </div>
        </div>
    </div>
</main>