<main>
    <div class="container min-height">
        <p ng-if="!$ctrl.username">
            Use the buttons above to create a new inbox, or open a specific mailbox.
        </p>

        <div ng-if="$ctrl.username && $ctrl.mails.length == 0">
            <div class="waiting-screen">
                <h1>{{$ctrl.address}}</h1>
                <p class="lead">Inbox is empty.</p>
                <p><br/>
                    <img src="spinner.gif">
                    <br/></p>
                <p class="lead">Emails to {{address}} will be automatically displayed on this page. </p>
            </div>
        </div>


        <div ng-if="$ctrl.username" ng-repeat="mail in $ctrl.mails | orderBy:'-date' track by $index"
             class="email-table">
            <mail mail="mail"></mail>
        </div>

    </div>
</main>