<section class="email">
    <div class="row sticky-header" ec-stickyfill>
        <div class="col-sm-12 email-summary">{{$ctrl.mail.subject}}</div>
    </div>

    <div class="row">
        <div class="col-sm-12 email-headers">
            <dl>
                <dt>To:</dt>
                <dd>{{$ctrl.mail.toString}}</dd>
                <div ng-if="$ctrl.mail.cc" ng-repeat="(address,name) in $ctrl.mail.cc">
                    <dt>CC:</dt>
                    <dd>{{address}}</dd>
                </div>
                <dt>From:</dt>
                <dd>{{$ctrl.mail.fromName}} &lt;{{$ctrl.mail.fromAddress}}&gt;</dd>
                <dt>Date:</dt>
                <dd>{{$ctrl.mail.date}}</dd>
            </dl>

        </div>
    </div>
    <div class="row mail-content" ng-init="htmlTabActive=false">


        <button ng-show="htmlTabActive" class="btn btn-outline-info btn-sm" ng-click="htmlTabActive=false">show text
        </button>
        <button ng-show="$ctrl.mail.textHtml && !htmlTabActive" class="btn btn-outline-info btn-sm"
                ng-click="htmlTabActive=true">show html
        </button>

        <div ng-if="!htmlTabActive" ng-bind-html="$ctrl.mail.textPlain | nl2br | autolink "></div>
        <div ng-if="htmlTabActive" class="mail-conent" ng-bind-html="$ctrl.mail.textHtml"></div>

    </div>
</section>

       