<section class="email">
    <div class="row ">
        <div class="col-sm-4 email-summary">{{$ctrl.mail.fromAddress}}</div>
        <div class="col-sm-8 email-summary">{{$ctrl.mail.subject}}</div>
    </div>

    <div class="row">
        <div class="col-sm-12 email-headers">
            <dl>
                <dt>To:</dt>
                <dd>{{$ctrl.mail.toString}}</dd>
                <div ng-if="$ctrl.mail.cc" ng-repeat="(address,name) in $ctrl.mail.cc">
                    <dt>CC:</dt>
                    <dd>{{address}}</dd>
                </div>
                <dt>From:</dt>
                <dd>{{$ctrl.mail.fromName}} &lt;{{$ctrl.mail.fromAddress}}&gt;</dd>
                <dt>Subject:</dt>
                <dd>{{$ctrl.mail.subject}}</dd>
                <dt>Date:</dt>
                <dd>{{$ctrl.mail.date}}</dd>
            </dl>

        </div>
    </div>
    <div class="row email-tabs">
        <!-- if there is no html content, just show text: -->
        <div ng-if="!$ctrl.mail.textHtml" ng-bind-html="$ctrl.mail.textPlain | nl2br | autolink" class="mail-conent">
        </div>

        <!-- else show tabs with plain text and html:-->
        <uib-tabset ng-if="$ctrl.mail.textHtml" active="1">
            <uib-tab index="1">
                <uib-tab-heading><i class="glyphicon glyphicon-align-left"></i> text</uib-tab-heading>
                <div class="mail-conent" ng-bind-html="$ctrl.mail.textPlain | nl2br | autolink "></div>
            </uib-tab>

            <uib-tab index="2" select="htmlActive=true">
                <uib-tab-heading><i class="glyphicon glyphicon-picture"></i> html</uib-tab-heading>
                <!-- only load htl content when tab is activated. this avoids loading images from other servers.-->
                <div class="mail-conent" ng-if="htmlActive" ng-bind-html="$ctrl.mail.textHtml"></div>
            </uib-tab>

        </uib-tabset>
    </div>
</section>

       