<section ng-hide="$ctrl.deleted" class="email">
    <div class="row ">
        <div class="col-sm-4 email-summary">{{$ctrl.mail.fromAddress}}</div>
        <div class="col-sm-8 email-summary">{{$ctrl.mail.subject}}</div>
        <!--<div class="col-sm-2 email-summary">-->
            <!--&nbsp;-->
            <!--<button class="btn btn-primary" ng-click="$ctrl.deleteMail($ctrl.mail.id)">Delete</button>-->
        <!--</div>-->
    </div>

    <div class="row">
        <div class="col-sm-12 email-headers">
            <dl>
                <dt>To:</dt>
                <dd>{{$ctrl.mail.toString}}</dd>
                <div ng-if="$ctrl.mail.cc" ng-repeat="(address,name) in $ctrl.mail.cc">
                    <dt>CC:</dt>
                    <dd>{{address}}</dd>
                </div>
                <dt>From:</dt>
                <dd>{{$ctrl.mail.fromName}} &lt;{{$ctrl.mail.fromAddress}}&gt;</dd>
                <dt>Subject:</dt>
                <dd>{{$ctrl.mail.subject}}</dd>
                <dt>Date:</dt>
                <dd>{{$ctrl.mail.date}}</dd>
            </dl>

        </div>
    </div>
    <div class="row email-tabs">
            <uib-tabset active="1">

                <uib-tab index="1" disable="!$ctrl.showTextButton()">
                    <uib-tab-heading><i class="glyphicon glyphicon-align-left"></i> text</uib-tab-heading>
                    <span ng-bind-html="$ctrl.mail.textPlain | nl2br | autolink "></span>
                </uib-tab>

                <uib-tab index="2" disable="!$ctrl.showHtmlButton()" select="htmlActive=true">
                    <uib-tab-heading><i class="glyphicon glyphicon-picture"></i> html</uib-tab-heading>
                    <span ng-if="htmlActive" ng-bind-html="$ctrl.mail.textHtml"></span>
                </uib-tab>

            </uib-tabset>
    </div>
</section>

       