<!doctype html>
<html lang="de" ng-app="app" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>Mailbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Mailbox">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="client-libs/style.css">
    <link rel="stylesheet" href="client-libs/angular-stickyfill-0.1.0/angular-stickyfill.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>
<body>


<div ng-controller="MailboxController as $ctrl" ng-cloak>

    <div class="nav-container">
        <div class="container">
            <nav class="navbar navbar-light">
                <a class="navbar-brand"><span class="octicon-inbox"></span>
                    &nbsp;
                    {{$ctrl.address}}
                    &nbsp;
                    <span ng-if="$ctrl.mails.length" class="tag tag-pill tag-default">{{$ctrl.mails.length}}</span>
                </a>

                <form class="form-inline float-xs-right" ng-submit="$ctrl.updateUsername($ctrl.inputFieldUsername)">
                    <input ng-model="$ctrl.inputFieldUsername"
                           placeholder="username"
                           type="text" class="form-control"/>
                    <button type="submit" class="btn btn-outline-success">login</button>
                    <button ng-click="$ctrl.randomize()" type="button" class="btn btn-outline-primary">randomize
                    </button>
                </form>
            </nav>
        </div>
    </div>

    <main>
        <div class="container min-height">
            <div ng-if="$ctrl.error" class="alert alert-danger" role="alert">
                <p><strong>Sorry, there was a problem. </strong></p>
                <p> {{$ctrl.error.desc}} </p>
                <p>
                <pre>{{$ctrl.error.detail|json}}</pre>
                </p>
                <p> If you are the developer you might want to check the developer tools console of your web
                    browser and your php error logs. </p>
            </div>

            <div ng-if="$ctrl.username && $ctrl.mails.length == 0">
                <div class="waiting-screen">
                    <p class="lead">Your mailbox <strong>{{$ctrl.address}}</strong> is ready. </p>
                    <p>You have no emails yet. They will appear here automatically. </p>
                    <p><br/>
                        <img src="client-libs/spinner.gif">
                        <br/>
                    </p>
                </div>
            </div>

            <div ng-if="$ctrl.username" ng-repeat="mail in $ctrl.mails | orderBy:'-date' track by $index"
                 class="email-table">

                <section class="email">
                    <div class="row sticky-header" ec-stickyfill>
                        <div class="col-sm-12 email-summary">{{mail.subject}}
                            <form class="form-inline float-xs-right">
                                <a role="button" class="btn btn-sm btn-outline-primary"
                                   href="{{$ctrl.backend_url}}?download_email_id={{mail.id}}&username={{$ctrl.username}}"
                                   download="true">Download
                                </a>

                                <button ng-click="$ctrl.deleteMail(mail.id)" type="button"
                                        class="btn btn-sm btn-outline-danger">Delete
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 email-headers">
                            <dl>
                                <dt>To:</dt>
                                <dd>{{mail.toString}}</dd>
                                <div ng-if="mail.cc" ng-repeat="(address,name) in mail.cc">
                                    <dt>CC:</dt>
                                    <dd>{{address}}</dd>
                                </div>
                                <dt>From:</dt>
                                <dd>{{mail.fromName}} &lt;{{mail.fromAddress}}&gt;</dd>
                                <dt>Date:</dt>
                                <dd>{{mail.date}}</dd>
                            </dl>

                        </div>
                    </div>
                    <div class="row mail-content" ng-init="htmlTabActive=false">
                        <button ng-show="htmlTabActive" class="btn btn-outline-info btn-sm"
                                ng-click="htmlTabActive=false">show text
                        </button>
                        <button ng-show="mail.textHtml && !htmlTabActive" class="btn btn-outline-info btn-sm"
                                ng-click="htmlTabActive=true">show html
                        </button>

                        <div ng-if="!htmlTabActive" class="mail-content"
                             ng-bind-html="mail.textPlain | nl2br | autolink "></div>
                        <div ng-if="htmlTabActive" class="mail-content" ng-bind-html="mail.textHtml"></div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>

<footer>
    <p>Powered by <a href="https://github.com/synox/disposable-mailbox"><strong>synox/disposable-mailbox</strong></a>
        | <a href="https://github.com/synox/disposable-mailbox"><span class="octicon octicon-mark-github"></span> Fork
            me on github</a></p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autolinker/1.2.0/Autolinker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.4/chance.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/1.1.4/stickyfill.min.js"></script>
<script src="client-libs/angular-stickyfill-0.1.0/angular-stickyfill.js"></script>
<script src="client-libs/index.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-signals/1.0.0/js-signals.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hasher/1.2.0/hasher.js"></script>

</body>
</html>