<!doctype html>
<html lang="de" ng-app="app" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>Mailbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Mailbox">
    <link rel="shortcut icon" href="favicon.gif" type="image/x-icon">
    <link rel="stylesheet" href="client-libs/style.css">
    <link rel="stylesheet" href="client-libs/spinner.css">
    <link rel="stylesheet" href="client-libs/angular-stickyfill-0.1.0/angular-stickyfill.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>
<body>
<div ng-controller="MailboxController as $ctrl" ng-cloak>
    <header>
        <div class="container">

            <form ng-submit="$ctrl.updateUsername($ctrl.inputFieldUsername)">

                <small id="emailHelp" class="form-text text-muted">
                    You have <span class="tag tag-pill tag-default">{{$ctrl.mails.length}}</span> mails in your
                    mailbox:
                </small>

                <div class="form-group row">
                    <div class="col-sm-8">

                        <input id="inputFieldUsername" ng-model="$ctrl.inputFieldUsername"
                               placeholder="new username"
                               type="text" class="form-control form-control-lg" onclick="this.select()"/>
                    </div>
                    <div class="col-sm-2">
                        <button id="openRandomButton" ng-click="$ctrl.randomize()" type="button"
                                class="btn btn-outline-primary">open random
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </header>

    <main>
        <div class="container min-height">
            <div ng-if="$ctrl.error" class="alert alert-danger" role="alert">
                <p><strong>Sorry, there was a problem. </strong></p>
                <p> {{$ctrl.error.desc}} </p>
                <div>
                    <pre>{{$ctrl.error.detail|json}}</pre>
                </div>
                <p> If you are the developer you might want to check the developer tools console of your web
                    browser and your php error logs. </p>
            </div>

            <div ng-if="$ctrl.username && $ctrl.mails.length == 0">
                <div class="card waiting-screen">
                    <div class="card-block">
                        <p class="lead">Your mailbox <strong>{{$ctrl.address}}</strong> is ready. </p>
                        <p>Emails will appear here automatically. They will be deleted after 30 days.</p>
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.username" ng-repeat="mail in $ctrl.mails | orderBy:'-date' track by $index"
                 class="email-table">

                <div class="card email">
                    <div class="card-block header-shadow sticky-header" ec-stickyfill ng-init="htmlTabActive=false">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="card-title">{{mail.subject}}</h3>
                            </div>
                            <div class="col-sm-4 text-right">
                                <form class="form-inline float-xs-right">

                                    <button ng-show="htmlTabActive" class="btn btn-outline-info btn-sm "
                                            ng-click="htmlTabActive=false">show text
                                    </button>
                                    <button ng-show="mail.textHtml && !htmlTabActive"
                                            class="btn btn-outline-info btn-sm"
                                            ng-click="htmlTabActive=true">show html
                                    </button>

                                    <a role="button" class="btn btn-sm btn-outline-primary "
                                       href="{{$ctrl.backend_url}}?download_email_id={{mail.id}}&username={{$ctrl.username}}"
                                       download="true">Download
                                    </a>

                                    <button ng-click="$ctrl.deleteMail(mail, $index)" type="button"
                                            class="btn btn-sm btn-outline-danger">Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <h6 class="card-subtitle mt-1 text-muted">{{mail.fromName}}
                                    &lt;{{mail.fromAddress}}&gt;</h6>
                            </div>
                            <div class="col-sm-4">
                                <h6 class="card-subtitle mt-1 text-muted" style="text-align: right">{{mail.date}}</h6>
                            </div>


                        </div>
                    </div>
                    <div class="card-block">
                        <h6 class="card-subtitle text-muted">To: {{mail.toString}}</h6>
                        <h6 ng-if="mail.cc" ng-repeat="(address,name) in mail.cc" class="card-subtitle text-muted">CC:
                            {{address}}</h6>

                        <div class="mt-2 card-text">
                            <div ng-if="!htmlTabActive" ng-bind-html="mail.textPlain | nl2br | autolink "></div>
                            <div ng-if="htmlTabActive" ng-bind-html="mail.textHtml"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<footer>
    <p>Powered by <a href="https://github.com/synox/disposable-mailbox"><strong>synox/disposable-mailbox</strong></a>
        | <a href="https://github.com/synox/disposable-mailbox"><span class="octicon octicon-mark-github"></span> Fork
            me on github</a></p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autolinker/1.2.0/Autolinker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.4/chance.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/1.1.4/stickyfill.min.js"></script>
<script src="client-libs/angular-stickyfill-0.1.0/angular-stickyfill.js"></script>
<script src="client-libs/index.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-signals/1.0.0/js-signals.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hasher/1.2.0/hasher.js"></script>

</body>
</html>