html > body {
    /* override bootstrap background */
    background: #f9f9f9;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    padding-bottom: 30px;
}

footer {
    font-size: 12px;
    text-align: center;
    padding-top: 1em;
}

.card-block {
    padding: 1.25rem;
}

.email-table {
    margin-top: 20px;
}

div.min-height {
    min-height: 400px;
}

.alert-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px;
    text-align: center;
}

#new-content-avalable {
    display: none;
}
header {
    background-color: #D9E2E9;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.email-table > .email {
    border-top: 5px solid #7C96AB;

}

.header-shadow {
    box-shadow: 0 2px 2px rgba(182, 182, 182, 0.75);
}

.waiting-screen {
    padding: 40px 15px;
    text-align: center;
}

.random-column {
    border-left: 1px dashed #333;
}

.random-button {
    height: 48px;
    padding: 10px;
}